*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: skyblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    width: 80vmin;
    height: 82vmin;
    background-color: black;
    /* width: 90vmin;
    height: 92vmin; */
    border: 2px solid red;
    display: grid;
    grid-template-columns:repeat(18,1fr);
    grid-template-rows:repeat(18,1fr);
}
.head{
    background:url(./snakehead.png);
    background-size:cover;
    background-repeat: no-repeat;
    object-fit:cover;
    transform: scale(1.02);
}
.snake{
    background-color:rgba(0, 128, 0, 0.856);
    border-radius: 3px;
}
.food{
    background:url(./apple.png);
    background-size: cover;
    background-repeat: no-repeat;   
}

.btn{
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 15px;
    position:absolute;
    top: 4.6%;
    left: 68%;
    transform: translate(-70%, -50%);
    background-color:  rgba(0, 128, 0, 0.89);
    color: white;
}
.score{
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 15px;
    position:absolute;
    top: 2.6%;
    left: 33%;
    transform: translate(-50%, -50%);
}
.hiScore{
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 15px;
    position:absolute;
    top: 2.6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tryAgain{
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 15px;
    font-size: 17px;
    width: 130px;
    border: none;
    outline: none;
    border-radius: 10px;
    display: none;
    background-color: rgba(0, 128, 0, 0.89);
    color: white;
    cursor: pointer;
}
.tryAgain:hover{
    background-color: rgba(0, 128, 0, 0.651);
}
.popup{
    background-color:rgba(182, 173, 173, 0.945);
    height: 200px;
    width: 200px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 10px;
}
.popup h3,p{
    text-align: center;
    margin-top: 15px;
}
.popup p{
    font-weight: 550;
}
.snake-icon{
    font-size:30px;
}

.snake-move button {
    font-size: 23px;
    padding: 7px;
    display: none;
}

.up{
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:5px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    background-color:  rgba(0, 128, 0, 0.89);
    color: white; 
}
.down{
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:5px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    background-color:  rgba(0, 128, 0, 0.89);
    color: white; 
}
.left{
    position: absolute;
    top: 87%;
    left: 34%;
    transform: translate(-50%, -50%);
    padding:5px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    background-color:  rgba(0, 128, 0, 0.89);
    color: white; 
}
.right{
    position: absolute;
    top: 87%;
    left: 66%;
    transform: translate(-50%, -50%);
    padding:5px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    background-color:  rgba(0, 128, 0, 0.89);
    color: white; 
}

